body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #f3f3f3;
}

.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.menu {
    margin-top: 80px;
    width: 100%;
}

.menu-item {
    background-color: #a57c50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.menu-item:hover {
    background-color: #8a6241;
}

.menu-item i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    padding-left: 15px;
}

.dropdown-content a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    background-color: #c8a584;
}

.dropdown-content a:hover {
    background-color: #b18b6a;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.table-container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.table-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    min-height: 60px;
}

a {
    color: #000;
    text-decoration: none;
}

.btn-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translate(0, 0);
}

.acciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.acciones img {
    cursor: pointer;
    height: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    top: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: limegreen;
}

input:checked + .slider:before {
    transform: translateX(19px);
}
.modal-body input {
    margin-bottom: 15px;
}

.popup-container {
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
    z-index: 1000;
    display: none;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h2 {
    color: #8B4513;
    margin: 0;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .popup-container {
        width: 90%;
        padding: 15px;
        transform: translate(-50%, 90%);
    }

    .popup-header h2 {
        font-size: 18px;
    }
}


.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

textarea {
    height: 100px;
    resize: none;
}

.add-btn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.add-btn:hover {
    background-color: #218838;
}

#close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7e0d0d;
    color: white;
}

#close:hover {
    background-color: #ff0000;
}

#capa-obscurecer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.contenedorInputs {
    display: flex;
}

.barra-busqueda {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.derecha {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.izquierda {
    width: 50%;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 50px;
}

.add {
    position: absolute;
    left: 93%;
    top: 31%;
}

.container-fluid {
    margin-top: 40px;
}

.table-container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fija la tabla en la página */
    top: 60px; /* Ajusta la posición desde el borde superior según tu diseño */
    left: 20px; /* Ajusta la posición desde el borde izquierdo */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    overflow: hidden; /* Evita que el contenido se desborde */
    background-color: #ffffff; /* Fondo blanco para que el contenido sea legible */
}

.table-container .btn-circular {
    position: absolute; /* Posiciona el botón dentro del contenedor */
    top: 10px;
    right: 10px;
}

/* Responsabilidad para móvil */
/* @media (max-width: 768px) {
    .table-container {
        width: calc(100% - 20px); /* Ajusta el ancho para dispositivos móviles */
/*left: 10px; /* Ajusta el espaciado desde el borde izquierdo */
/*        top: 20px; /* Ajusta el espaciado desde el borde superior */
/*       overflow-x: auto; /* Habilita el scroll horizontal si es necesario */
/*    }

    .table-container .btn-circular {
        width: 40px;
        height: 40px;
        right: 5px;
    }

    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .contenedorInputs {
        flex-direction: column;
        align-items: stretch;
    }
}

 */

.navbar-brand {
    margin-right: auto !important;
}

.navbar .form-inline {
    margin-left: auto !important;
}
.popup-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.contenedorInputs {
    display: flex;
    flex-wrap: wrap;
}
.izquierda, .derecha {
    flex: 1;
    margin-bottom: 10px;
    padding-right: 10px;
}
.derecha {
    padding-right: 0;
    flex: 1;
    margin-bottom: 10px;
    padding-right: 10px;
}
.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
}
.add-btn {
    width: 100%;
}
@media (max-width: 768px) {
    .izquierda, .derecha {
        flex: 100%;
        padding-right: 0;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}