body{
    background-color: red;
}
.bg-coffee {
    background-color: #765e42;
    color: #ecf0f1;
}
.navbar-brand{
    position: relative;
}
/* Estilos básicos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}
.close {
    color: #fbcccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal h2 {
    text-align: center;
}
.modal form {
    display: flex;
    flex-direction: column;
}
.modal form div {
    margin-bottom: 15px;
}
.modal form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.modal form input[type="text"],
.modal form input[type="email"],
.modal form input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.modal form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal form button:hover {
    background-color: #45a049;
}
/*
.tituloSeccion{
    position: absolute;
    top: 110%;
    left: 45%;
    margin-left: -20px;
}
 */
.tituloSeccion{
    display: flex;
    justify-content: center;
    width: 100%;
}
#sidebar{
    margin-top: 27%;
    width: 300px;
}
.contenedorPrc{
    margin: auto;
}
#sidebar-accordion .list-group-item {
    background-color: #765e42;
    border-radius: 30px;
    color: #ecf0f1;


}

#sidebar-accordion .list-group-item:hover {
    background-color: #483717;
    color: #ecf0f1;
}
#sidebar-accordion-responsive .list-group-item:hover {
    background-color: #483717;
    color: #ecf0f1;
}

#sidebar-accordion .list-group-item:active,
#sidebar-accordion .list-group-item.active {
    background-color: #7c6a50;
    color: white;
}

.tab{
    margin: auto;
    margin-top: 7%;
    position: relative;
    right: 5%;

}
.act{
    min-width: 20px;
    max-width: 40px;
}
.acc{
    max-width: 90px;
    min-width: 40px;
}

tr{
    border-bottom: solid 2px black;
}
#agregar-fila {

    position: absolute;
    top: -1%;
    left: 95%;
}

#agregar-filaP{
    position: absolute;
    top: -11%;
    left: 95%;
}
#agregar-filaA{
    position: absolute;
    top: -11%;
    left: 95%;
}
#agregar-fila-prov{
    position: absolute;
    top: -11%;
    left: 95%;
}
#agregar-filaU{
    position: absolute;
    top: -5%;
    left: 95%;
}
#agregar-fila-almacenista{
    position: absolute;
    top: -14%;
    left: 95%;
}

/** ESTO ES PARA CAMBIAR LA RESPONSIBIDAD PARA EL BOTON **/

@media (max-width: 450px) {
    #agregar-fila {
        left: 85%;
    }
    #agregar-filaP {
        left: 85%;
    }
    #agregar-filaA {
        left: 85%;
    }
    #agregar-fila-prov {
        left: 85%;
    }
    #agregar-filaU {
        left: 85%;
    }
    #agregar-fila-almacenista{
        left: 85%;
    }
}

#sidebar-responsive{
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 300px;
}
#sidebar-accordion-responsive{
    position: absolute;
    z-index: 2;
    display: none;
}
.hbs{
    display: none;
}
#loginImg{
    display: none;
}
table{
    margin-top: 11%;
}


/*slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Ancho total del toggle */
    height: 20px; /* Alto total del toggle */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
    border-radius: 20px; /* Redondeo de las esquinas del toggle */
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: green;
}

input:checked + .slider:before {
    transform: translateX(20px); /* Desplazamiento del círculo cuando el toggle está activado */
}

@media (max-width: 1000px){
    .tab{
        position: relative;
        right: 0%;
    }
}
@media (max-width: 1000px){
    .todisable{
        display: none;
    }
    #logoImg{
        display: none;
    }
    #loginImg{
        display: block;
    }

}
@media (max-width: 900px){ /*antes 767*/
    #sidebar-accordion{
        display: none;
    }
    #logoImg{
        display: none;
    }
    #loginImg{
        display: block;
    }
    .hbs{
        display: block;
        position: absolute;
        left: 5%;
        top: 10%;
    }
    .barraa{
        display: none;
    }
    #sidebar-responsive{
        display: block;
        position: absolute;
        top: 50%;
        left: 10%;
        width: 300px;
    }
    #sidebar-accordion-responsive .list-group-item{
        background-color: #765e42 ;
        border-radius: 30px;
        display: block;
        position: absolute;
        top: 50%;
        left: 10%;
        width: 300px;
    }
}
@media (max-width: 490px){
    .todisable2{
        display: none;
    }
    #close{
        background-color: #28a745;
    }
}

/*popoup*/
.popup-container {
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h2 {
    color: #8B4513;
    margin: 0;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .popup-container {
        width: 90%;
        padding: 15px;
        transform: translate(-50%, -50%);!important;
    }

    .popup-header h2 {
        font-size: 18px;
    }
}



.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
select{
    width: 170px;
    height: 37px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
textarea {
    height: 100px;
    resize: none;
}

.add-btn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.add-btn:hover {
    background-color: #218838;
}

#close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7e0d0d;
    color: white;
}

#close:hover {
    background-color: #ff0000;
}

#capa-obscurecer {
    width: 100%;
    height: 1100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0);
    /*display: none;*/
}

.contenedorInputs {
    display: flex;
}

.barra-busqueda {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.derecha {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.izquierda {
    width: 50%;
    padding-right: 20px;
}
.izquierda2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
input {
    width: 200px;
    height: 30px;
    border-radius: 50px;
}

.add {
    position: absolute;
    left: 93%;
    top: 31%;
}
.container-fluid{
    margin-top: 40px;
}
/*
.contenedorGeneral{
    position: relative;
    z-index: -1;
}*/

.confirmar-cambio-estado-of{
    max-width: 500px;
    min-width: 200px;
    height: 300px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    border: solid 2px black;
    padding: 30px;
    background-color: white;
}
.btn-ar{
    display: flex;
}
#aceptar{
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 30px;
    margin: 5px;
}
#cancelar{
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 30px;
    margin: 5px;
}
#aceptarO{
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 30px;
    margin: 5px;
}
#cancelarO{
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 30px;
    margin: 5px;
}
#aceptar:hover{
    background-color: #37f837;
}
#cancelar:hover{
    background-color: #f46666;
}
#aceptarO:hover{
    background-color: #37f837;
}
#cancelarO:hover{
    background-color: #f46666;
}
.basemsj{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 2;
}
#contbasemsj{
    display: none;
}
#activar{
    display: none;
}
#desactivar{
    display: none;
}

.popup-containerIn {
    /*width: 600px;*/
    width: 95%;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 1000;*/
    display: none;
}
.previewEntradas{
    display: none;
    /*margin-top: -83%;*/
    margin-left: 3%;
    width: 95%;
    /*position: fixed;*/
    position: absolute;
    top: 12%;
    z-index: 1;
}
.previewEntradas > table{
    position: absolute;
    z-index: 5;
    background-color: white;
    margin-top: 22%;
}

.derecha3 {
    /*
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;*/
    display: flex;
    width: 100%;
}

.izquierda3 {
    /*
    width: 50%;
    padding-right: 20px;
    */
    width: 100%;
    display: flex;
}
.izquierda2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.izquierda3 > .form-group{
    margin: auto;
    padding: 10px;
}
.izquierda3 > .form-group > input,
.izquierda3 > .form-group > select {
    max-width: 450px;
    min-width: 100px;
    height: 40px;
}
/*
.derecha3 > .form-group > input,
.derecha3 > .form-group > select {
    max-width: 450px;
    min-width: 100px;
    height: 40px;
}
*/
.derecha3 > .form-group > input,select{
    max-width: 450px;
    min-width: 100px;
    height: 40px;
}
.derecha3 > .form-group{
    margin: auto;
    padding: 10px;
}
#contenedorFormProductoEntradas{
    position: absolute;
    top: 0;
    display: none;
    width:100%;
    height: 1000px;
    z-index: 4;
    background-color: rgba(0,0,0,0.7);
}
.contenedorInputsOut {
    display: block;
}

#capa-obscurecer-home{
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.7);
    display: none;
}